%table.table.table-striped.table-condensed.tablesorter
    %thead
        %tr
            %th
            %th Library name
            %th #Spectra
    - @libraries.each do |library|
        %tr
            %td
                %a.btn.btn-default.btm-sm.pull-right{:style=>"margin-right: 20px;", :href => "/spectra/aggregateview?library=#{library.name}"} View Library
            %td{:style=>"vertical-align:middle"}= library.name
            %td{:style=>"vertical-align:middle"}= Spectrum.count(:library => library)

            
%form{:action => "/spectra/querysequence", :method => "get"}
    .form-group
        %label{:for => "querysequence"} Query Sequence
        %input.form-control{:type => "text", :name => "sequence", :class => "text"}
    %input.btn.btn-default{:type => "submit"}
    
%form{:action => "/spectra/querysequencesubstring", :method => "get"}
    .form-group
        %label{:for => "querysequence"} Query Sequence Substring
        %input.form-control{:type => "text", :name => "sequence", :class => "text"}
    %input.btn.btn-default{:type => "submit"}
    
    
%form{:action => "/spectra/querypeptide", :method => "get"}
    .form-group
        %label{:for => "querypeptide"} Query Peptide with Mods
        %input.form-control{:type => "text", :name => "sequence", :class => "text"}
    %input.btn.btn-default{:type => "submit"}
    
    
%form{:action => "/spectra/querypeptidesubstring", :method => "get"}
    .form-group
        %label{:for => "querypeptide"} Query Peptide Substring with Mods
        %input.form-control{:type => "text", :name => "sequence", :class => "text"}
    %input.btn.btn-default{:type => "submit"}