%script{:src=>"/js/jquery-1.11.0.js"}
%script{:src=>"/js/jquery.tablesorter.js"}
%script{:src=>"/js/jquery-ui-1.10.4.custom.min.js"}
%script{:src=>"/js/bootstrap.js"}

%link{:href=>"/css/ui-lightness/jquery-ui-1.10.4.custom.min.css", :rel=>"stylesheet"}
%link{:href=>"/css/bootstrap.css", :rel=>"stylesheet"}


= yield