#spectruminformation{
    width: 500px;
    margin-left:auto;
    margin-right:auto;
}

#contentdiv{
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
}

#lorikeetpanel{
    width: 700px;
    margin-left:auto;
    margin-right:auto;
}